body {
    background-color: orange;

    font-family: "Tiny5", sans-serif;
    font-style: 0;
    font-size: 24px;

    overflow-y: hidden;

    color: orangered;
}

p {
    padding: 20px;
    margin: 0 auto;
    max-width: 500px;
}

.content {
    display: flex;
    height: 100%;
    flex-direction: row;
    gap: 5px;

    scroll-snap-type: x mandatory;
    align-items: stretch;
    box-sizing: border-box;
}

.content-item {
    width: 100%;
    max-width: 750px;

    padding: 5px;

    flex-shrink: 0;

    border-right: 5px;
    border-left: 5px;
    border-top: 0;
    border-bottom: 0;
    border-style: solid;
}

.custom-header {
    padding: 10px;
    font-size: 48px;
    text-align: center;

    border-bottom: 6px;
    border-top: 0px;
    border-right: 0px;
    border-left: 0px;
    border-style: dashed;
}

body::-webkit-scrollbar {
    background-color: darkorange;
}

body::-webkit-scrollbar-thumb {
    background: orangered;
}


body::-webkit-scrollbar-thumb:hover {
    background-color: gold;
}