body {
    font-smooth: none;
    -webkit-font-smoothing: never;
    font-family: "Tiny5", sans-serif;
    font-size: 24px;

    z-index: 0;
    overflow-x: hidden;
    background-image: url("./images/orange.png");
    background-attachment: fixed;
    
    backdrop-filter: blur(15px);
    image-rendering: pixelated;
}

body::-webkit-scrollbar {
    display: none;
}

.content {
    transform: translateY(0px);

    max-width: 750px;
    margin: 0 auto;
    text-align: left;
    padding: 1rem;
    background-color: orange;
    border-style: solid;
    border-width: 5px;
    border-radius: 1px;
    box-shadow: 0 50px 50px rgba(0, 0, 0, 0.3);

}

.content b {
    font-family: "Silkscreen", sans-serif;
    font-kerning: none;
    text-shadow: 5px 5px 0px rgba(0, 0, 0, 0.5);
    transform: translateX(20px);
}

.content i {
    font-size: 16px;
    font-display:unset;
}

.content ul li {
    list-style-image: url("./images/bullet-point.png");
}

.content ul li li {
    list-style-image: url("./images/sub-bullet-point.png");
}



.socials {
    text-align: center;
    padding: 3px;
    align-content: center;
    background-color: coral;
    border-radius: 1px;
    border-width: 5px;
    border-style: solid;
    box-shadow: 10px 10px 0px rgba(0, 0, 0, 0.5);
}

.answers {
    max-width: max-content;
    padding: 2rem;
    border-style: outset;
    border-color: orangered;
    border-width: 4px;
}

.computer {
    float: right;
}

.links {
    line-height: 2px;
    text-align: left;
    padding: 6px;
}