@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Tiny5&display=swap');

body {
    background-color: black;
    background-image: url("../images/tomato.png");
    backdrop-filter: blur(12px);    

    display: flex;
    flex-direction: column;
    align-items: center;

    font-family: "Tiny5", sans-serif;
    font-size: 24px;

    text-rendering: optimizeLegibility;
}

body::-webkit-scrollbar {
    display: none;
}

header {
    position: sticky;
    top: 16px;

    background-color: orange;
    width: 80vw;
    max-width: 80vw;

    padding: 12px;
    margin: 12px;
    border-radius: 6px;

    box-shadow: 10px 0px 60px;

    display: flex;
    flex-direction: row;
}

header > a {
    text-align: center;
    flex-grow: 1;
}

main {
    max-width: 60vw;

    display: flex;
    gap: 12px;
    flex-direction: column;
}

main > div {
    background-color: orange;
    flex-grow: 1;

    padding: 12px;
    margin: 12px;
    border-radius: 24px;
    
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 8px;

    border-style: solid;
    border-color: orangered;

    width: 60vw;
}

main > div > h1 {
    text-align: center;

    font-family: "Press Start 2P", system-ui;
    font-size: 48px;
    font-weight: 0;

    margin-top: 0;
    padding: 12px;
    
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 4px;

    border-radius: 32px;
    border-style: dashed;
    
    color: orangered;
}

p i {
    font-size: 16px;
}

h1 i {
    font-family: "Tiny5", sans-serif;
    color: black;
    font-size: 16px;
}

.content {
    background-color: rgb(255, 140, 0);
    padding: 12px;
    border-radius: 12px;
}

.socials-table {
    width: 100%;
}

.socials-table th {
    border-radius: 8px;
    font-weight: 0;
    font-style: normal;
    background-color: orangered;
}

.socials-table td {
    border-radius: 8px;
    padding: 8px;
    background-color: rgb(255, 111, 0);
}

.flex-parent-horizontal {
    display: flex;
    flex-direction: row;
    gap: 32px;
}

.flex-parent-horizontal > div {
    flex-grow: 1;
    flex-basis: 100px;
    text-wrap: pretty;
}

.flex-parent-horizontal > div > h1 {
    margin: 0;
    text-align: center;
}

.rounded-corners {
    border-radius: 8px;
}
